h1, h2 {
	text-align: center;
}

#products {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
}

figure {
	border: 1px solid black;
	padding: 1.5rem;
	background-color: lavenderblush;
	width: 25%;
}

figure:hover {
	background-color: lightblue;
}

figure div {
	text-align: center;
}

button {
	padding: 1rem;
	margin: 1rem;
	font-size: 1.2rem;
	background-color: lightseagreen;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: lightgreen;
	cursor: pointer;

}

@media screen and (max-width: 768px) {
	figure {
		width: 80%;
	}
	#products {
		justify-content: space-around;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	figure {
		width: 45%;
	}
	#products {
		justify-content: space-evenly;
	}
}