* {
        box-sizing: border-box;
}

html, body {
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.5;
        background-color: #c7d5d0;
    }






